$main-font: 'Merriweather', serif;
$secondary-font: 'Poppins', sans-serif;

.btn {
    margin-top: 5px;
    width: 125px;
    height: 35px;
    background-color:rgb(50, 50, 50);
    color: #fff;
    border: 1px  solid #fff;
    border-radius: 5px;

    &:hover {
        width: 125px;
        height: 35px;
        background-color: #fff;
        color: rgb(50, 50, 50);
        border: none;
        border-radius: 5px;
    }
}